/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#navbar::before{ 
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
    .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    left: 60px;
    
}
   .search-container input {
    padding: 6px 10px;
    margin-right: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    align-items: center;
       
    }
 
#logo{
    margin: 10px 34px;
}
#logo img{
height: 60px;
margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    
    color: white;
    display: block;
    padding: 2px 22px;
    border-radius: 20px;
    text-decoration: none;  
}
#navbar ul li a:hover{
    color: black;
    background-color:white ;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 0px 200px; 
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(background.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
#home h1{
     color: white;
     text-align: center;
     font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
     font-family: 'Bree Serif', serif;
}
/* services section */ 
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    /* text-align: center; */
    /* justify-content: center; */
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color:#f2f2f2;
}
#services .box img{
    height: 146px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* clients section */
#clients-section{
    position: relative;
    overflow: hidden;
    
}
#clients-section::before{
 content: "";
 position: absolute;
 background: url("clients-bg.jpg") no-repeat center center/cover;
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url(contact-bg.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}

/* utility classes */
.h-primary{
    font-family: Bree sans-serif;
    font-size: 2.8rem;
    padding: 12px;
   
}
.h-secondary{
    font-family: Bree sans-serif;
    font-size: 2rem;
    padding: 12px;
}
.btn{
padding: 6px 20px;
border: 2px solid white;
background-color: brown;
color: white;
margin: 17px;
font-size: 1.5rem;
border-radius: 10px;
cursor: pointer; 
}
.center{
    text-align: center;
}
